body{
    background-color: red;
}
.box{
    width: 344px;
    height: 344px;
    padding: 30px;
    margin: 30px;
    background-color: blue;
}
.boxes{
    display: flex;
}
@media screen and (orientation: landscape){
    body{
        border: 5px solid purple;
    }
}
@media only screen and (max-width:455px){
   /* @media syntax usually aisa hota hai:
   @media not|only mediatype and (condition) {
      CSS rules
   }

   -- Mediatype = "screen", "print" etc.
   -- Mostly responsive design ke liye "screen" use karte hain.

   Example:
   @media only screen and (max-width: 600px) {
      body {
         background-color: lightblue;
      }
   }

    iska matlab: jab screen ki width 600px ya usse kam hogi,
      tab body ka bg lightblue hoga.

   max-width = chhoti screen (phone, tablet) ke liye.
   min-width = badi screen (laptop, desktop) ke liye.
*/

     body{
        background-color: blue;
     }
     .boxes{
        flex-direction: column;
       
     }
     .box{
        background-color: aliceblue;
     }
}
